@import '../../../../styles/_variables'

.cta
  width: 50%
  margin-top: calc( 8.4vh + 6px)
  @media (max-height: 700px)
    margin-top: calc(4.4vh + 6px) 
  &__text
    font-size: 1.6rem
    font-weight: 400п
    line-height: 124%
    color: $light-color
  &__social-media
    display: flex
    gap: 3rem
    position: absolute
    bottom: 8vh
    padding: 0.4rem 0

@media screen and (max-width: 992px)
  .cta
    width: 100%
    margin-top: 0
  .cta__social-media
    position: static
    bottom: unset
    justify-content: center
    gap: 2.6rem
    flex-wrap: wrap
@media screen and (max-width: 768px)
  .cta__text
    font-size: 1.4rem
 