@import '../../styles/_variables'

.mobile-menu
  position: fixed
  width: 100%
  height: 100%
  background: url("/mobile-menu/blur.png") no-repeat top/cover, url("/mobile-menu/pattern.png") no-repeat right bottom/auto, $bg-color
  z-index: 100
  display: flex
  overflow-y: auto
  &.mobile-menu_inner
    gap: 3rem
.mobile-menu__item
    list-style: none
    & svg
        fill: $light-color
.mobile-menu__link
    display: flex
    color: $light-color
    text-decoration: none
.mobile-menu__logo
    display: inline-flex
.menu-icon 
  width: 2.2rem
  height: 1rem
  cursor: pointer
  position: relative
  span
    background-color: $light-color-lighter
    height: 2px
    position: absolute
    width: 100%
    left: 0
    transition: all 0.3s ease
    &:first-child 
      top: 0
    &:last-child 
      top: 6px
.menu-icon-close
  width: 2.2rem
  cursor: pointer
  position: relative
  span
    background-color: $light-color-lighter
    height: 2px
    position: absolute
    width: 100%
    left: 0
    top: 50%
    transition: all 0.3s ease
    &:first-child 
      transform: rotate(45deg)
    &:last-child 
      transform: rotate(-45deg)
.mobile-menu
  display: flex
  flex-direction: column
  gap: 2rem
  svg
    padding: 0.5rem
    width: 3.2rem
    height: 3.2rem
    margin-right: 2.8rem
    fill: $light-color
    stroke: $light-color
    opacity: 0.48
  p
    font-size: 1.4rem
    color: $light-color-lighter
    opacity: 0.48
  &__list
    display: flex
    flex-direction: column
    align-items: flex-start
  &__item
    list-style: none
    text-align: center
    &.active
      .mobile-menu__link
        fill: rgba($accent-color, 1)
        stroke: rgba($accent-color, 1)
        svg
            background-color: rgba($accent-color, 0.32)
            border-radius: 0.8rem
            fill: $accent-color
            opacity: 1
      .mobile-menu__link:hover::after
        display: none
      p
        font-size: 1.8rem
        color: rgba($accent-color, 1)
        opacity: 1
        font-weight: 600
  &__link
    position: relative
    display: flex
    justify-content: center
    align-items: center
    &:link,
    &:visited
      padding-top: 0.9rem
      padding-bottom: 0.9rem
      text-decoration: none
      fill: rgba($light-color, 0.48)
      stroke: rgba($light-color, 0.48)
      cursor: pointer
    &:hover
      fill: rgba($accent-color, 0.48)
      stroke: rgba($accent-color, 0.48)
      &::after  
        font-size: 1.2rem
        font-family: $base-font
        font-weight: 500
        line-height: 1
        white-space: nowrap
        color: $accent-color
        padding: 0.6rem 1rem 0.6rem
        background-color: #161616
        border-radius: 2.4rem
        position: absolute
        left: 4.8rem
    &__icon
      height: 2rem
      width: 2rem
.mobile-menu__header_inner
  display: flex
  justify-content: space-between
  align-items: center
  .title
    margin-bottom: unset
.mobile-menu_cta
  background: #10151D
  border-radius: 2rem
  padding: 1.6rem 0.6rem
  text-align: center
  p
    font-size: 1.6rem
    margin-bottom: 0.8rem
    color: $light-color-lighter
  a
    color: $accent-color
    font-size: 1.6rem
    text-decoration: none
.mobile-menu__header
  display: flex
  width: 100%
  justify-content: space-between
  align-items: center
  margin-bottom: 3.5rem
  .title
    margin-bottom: 0

@media screen and (max-width: 992px)
    .mobile-menu__logo
        top: 7rem
        left: 3rem
    .mobile-menu
        padding: 0 3rem
        padding-top: 6.5rem
        padding-bottom: 3.2rem
@media screen and (max-width: 768px)
    .mobile-menu__logo
      left: 2rem
    .menu-icon-close
      width: 2rem
    .mobile-menu
      padding: 0 2rem
      padding-top: 6.5rem
      padding-bottom: 3.2rem
@media screen and (max-width: 576px)
    .mobile-menu__logo
      left: 1.5rem
    .mobile-menu
      padding: 0 1.5rem
      padding-top: 6.5rem
      padding-bottom: 3.2rem
    .mobile-menu__logo-img_inner, .mobile-menu__logo-img
      max-width: 3.4rem
      max-height: 3.4rem
    .menu-icon-close
      width: 1.8rem
