@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap')
@import './_variables'

html 
 font-size: 62.5%

*,
*::after,
*::before 
  margin: 0
  padding: 0
  box-sizing: inherit

body
  box-sizing: border-box
  background-color: $bg-color
  font-family: $base-font
  margin: auto
  color: $light-color
  &.mobile-menu-open
    overflow: hidden!important

main
  margin-left: $sidebar-width

.fp-watermark
  display: none

@media screen and (max-width: 1200px)
  main
    margin-left: 12rem
@media screen and (max-width: 992px)
  main
    margin-left: 0px
    margin-right: 0px


