@import '../../../../styles/_variables'
  
.skills
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  pointer-events: none
  &:hover .skills__item
    opacity: 0.32
    filter: blur(1.5px)
  &:hover .skills__item:hover
    opacity: 1
    filter: blur(0)
    z-index: 1
  &__set
    display: flex
    justify-content: center
    // flex-wrap: wrap
    gap: 6.6vw
    &--1,
    &--2,
    &--3
      margin-top: -1.1vw
  &__item
    list-style: none
    position: relative
    transition: all 0.4s
    min-width: 72px
    min-height: 72px
  &__box
    pointer-events: auto
    padding: 2vw
    background: #10151D
    border-radius: 2.1vw
    border: 0.5rem solid transparent
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    transform: rotate(-45deg)
    transition: all 0.1s
    &:hover ~ .skills__text
      display: block
    &--hidden
      visibility: hidden  
  @for $i from 1 through length($skill-outline-colors)
    .skills__box--#{$i}:hover
      border: 0.5rem solid nth($skill-outline-colors, $i)
  @for $i from 1 through length($skill-shadow-colors)
    .skills__box--#{$i}:hover
      box-shadow: 0 0 5.6rem -1.1rem nth($skill-shadow-colors, $i)
  &__img
    min-width: 43px
    transform: rotate(45deg)
  &__text
    width: 21.8vw
    color: $light-color
    z-index: 2
    display: none
    position: absolute
    &--right
      top: 50%
      left: 1.25vw
      transform: translate(50%, -50%)
    &--left
      top: 50%
      right: 1.25vw
      transform: translate(-50%, -50%)
  &__title
    font-size: 3.2rem
    font-weight: 600
    line-height: 120%
    letter-spacing: 0.02em
    text-transform: uppercase
    margin-bottom: 0.5vw 
  &__description
    font-size: 1.6rem
    font-weight: 400
    line-height: 124%

@media screen and (max-width: 992px)
  .skills__item
    width: 72px
    height: 72px
    position: static
  .skills__text.skills__text--left, .skills__text.skills__text--right
    top: unset
    left: 50%
    bottom: -150px
    transform: translateX(-50%)
    right: unset
  .skills__box
    border-radius: 16px
    width: 72px
    height: 72px
    &:hover
      width: 107px
      height: 107px
      transform: translate(-15%, -15%) rotate(-45deg)
  .skills
    padding-left: 43px
    position: relative
    justify-content: flex-start
    height: auto
    
    @for $i from 1 through length($skill-outline-colors-mobile)
      .skills__box--#{$i}:hover
        border: 0.25rem solid nth($skill-outline-colors-mobile, $i)
    @for $i from 1 through length($skill-shadow-colors-mobile)
      .skills__box--#{$i}:hover
        box-shadow: 0 0 5.6rem -1.1rem nth($skill-shadow-colors-mobile, $i)
    &:hover
      &::after
        content: ''
        width: 100%
        height: 100%
        backdrop-filter: blur(1.5px)
        position: absolute
        left: 0
        right: 0
        z-index: 0
      .skills__item
        filter: unset
        opacity: 1
        &:hover
          filter: unset
          opacity: 1
  .skills__set--1, .skills__set--2, .skills__set--3
    margin-top: 0
  .skills__text
    width: 100%
    background: #10151D
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 20px
    padding: 10px 16px
@media screen and (max-width: 768px)
  .skills__title
    font-size: 2.8rem
    font-weight: 600
    margin-bottom: 8px
  .skills__description
    font-size: 1.4rem
@media screen and (max-width: 576px)
  .skills__title
    font-size: 2.4rem
